# Maven
target/

# IDE files
.classpath
.project
.settings/
.idea/
*.iml
.vscode/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Spring Boot config (DO NOT COMMIT SECRETS)
application.properties
application.yml
application-dev.properties

/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
